framework: net45
source https://www.nuget.org/api/v2

nuget argu
nuget FSharp.Core

group Build
  framework: net471
  source https://www.nuget.org/api/v2

  nuget FAKE
  nuget ASeward.MiscTools 0.0.5-c
